:root {
    --main-purple: #505ACC;
}
#menu {
    z-index: 2;
    position: fixed;
    display: none;
}
#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 10px;
    cursor: pointer;
    position: fixed; 
    z-index: 12; 
}
.bar {
    height: 5px;
    width: 100%;
    background-color: var(--main-purple);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1 {
    transform: translateY(-4px);
}
#bar3 {
    transform: translateY(4px);
}
.nav {
    transition: 0.3s ease;
    display: none;
    position: fixed;
}
.nav ul {
    padding: 0 22px;
    margin-top: 70px;
}
.nav li {
    list-style: none;
    padding: 12px 0;
}
.nav li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.nav li a:hover {
    font-weight: bold;
}
.menu-bg, #menu {
    top: 0;
    right: 73px;
    position: absolute;
}
.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 40px;
    background: radial-gradient(circle, var(--main-purple), var(--main-purple));
    border-radius: 50%;
    transition: 0.3s ease;
    position: fixed;
}
.change {
    display: block;
    position: fixed;
}
.change .bar {
    background-color: #fff;
}
.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2 {
    opacity: 0;
}
.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
.change-bg {
    width: 1080px;
    height: 820px;
    transform: translate(-60%,-30%);
}