:root {
    --swiper-navigation-color: #D33F55;
}
.slider {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow-x: hidden; 
}
.swiper-scrollbar {
    background: #d6d6d6;
}
.swiper-container-horizontal > .swiper-scrollbar {
    border-radius: 2px;
    height: 5px;
    width: 200px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.swiper-button-prev, .swiper-button-next, .swiper-scrollbar-horizontal {
    position: unset !important;
}
.swiper-controll {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 90px;
}
.swiper-buttons {
    display: flex;
    gap: 70px;
}
.swiper-button-next::after, .swiper-button-prev::after {
    content: unset !important;
}
.swiper-slide {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 18.629px;
}
.swiper-scrollbar {
    background: #F0BFC6 !important;
}
.swiper-scrollbar-drag {
    background: var(--swiper-navigation-color) !important;
}
.slider .slide-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 25px;
}
.slider .slideUpper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.slider .slider-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.slider .name {
    font-weight: 600;
    font-size: 16px;
    line-height: 151.1%;
    color: #000000;
}
.slider .date {
    font-weight: 500;
    font-size: 16px;
    line-height: 151.1%;
    color: #6A6A6A;
}
.slider .stars {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.slider p {
    font-weight: 400;
    font-size: 16px;
    line-height: 151.1%;
    color: #000000;
}