.swiper {
    width: 100%;
    position: relative;
    display: none;
}
.swiper-button-prev, .swiper-button-next {
    position: unset !important;
}
.swiper-controll {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 90px;
    flex-direction: row-reverse;
    padding: 0 10px;
}
.swiper-buttons {
    display: flex;
    gap: 70px;
}
.swiper-button-next::after, .swiper-button-prev::after {
    content: unset !important;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
}
.slider-controll {
    position: absolute;
    width: fit-content;
    height: 100px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-controll img {
    width: 50%;
}
.slider-column {
    display: none !important;
}
.directors .directorsNameSlider {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #505ACC;
}