:root {
    --main-purple: #505ACC;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
}
html, body, header, main, footer, section {
    width: 100%;
}
button:hover {
    margin-bottom: 10px;
    transition: 0.25s all;
}
h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #000;
}
.calculator .rightColumn .rotated {
    display: flex;
    align-items: center;
    gap: 10px;
}
.horizontalLine {
    transform: rotate(90deg);
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-purple);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.buttons {
    background-color: var(--main-purple);
    height: 38px;
    border: none;
    border-radius: 5px;
    width: 182px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 16px;
    color: #fff;
}
.wrapper {
    max-width: 1280px;
    width: 100%;
    display: flex;
}
header {
    display: flex;
    justify-content: center;
    margin-top: 46px;
}
header .wrapper {
    flex-direction: column;
}
header .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header nav {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header li {
    list-style-type: none;
}
header a {
    color: #11243E;
    text-decoration: none;
}
header a:hover {
    transition: all .3s;
}
header a:checked {
    color: #11243E;
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    display: flex;
    justify-content: center;
}
.services {
    margin-top: 64px;
}
.services .servicesList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.services .upperItems, .services .bottomItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.services .serviceItem {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #11243E;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 130px;
}
.services .serviceItem .serviceItemImage {
    width: 38px;
    height: 38px;
}
.services .serviceItem span {
    text-align: center;
    width: 190px;
}
.activeServiceItem {
    background-color: var(--main-purple);
    padding: 10px;
    color: #fff !important;
    font-size: 19px !important;
    border-radius: 10px;
    justify-content: center;
}
.activeServiceItem .serviceItemImage {
    filter: brightness(10);
}
.services .serviceItem:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-purple);
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}
.services .serviceItem:hover .serviceItemImage {
    filter: brightness(10);
}
.consultation {
    margin: 40px 0;
}
.consultation .wrapper {
    background-image: url("../img/consultationBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: space-between;
    padding: 70px 90px;
    border-radius: 20px;
}
.consultation .leftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.consultation span {
    width: 100%;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    color: #FFFFFF;
}
.consultation .contactButtons {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.consultation .contactButtons img {
    margin-bottom: 30px;
}
.consultation .getConsultationButton {
    width: 285px;
    height: 61px;
    border: none;
    background: #FFFFFF;
    box-shadow: 1px 1px 38px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    font-size: 18px;
}
.consultation .orderServiceButton {
    width: 212px;
    height: 61px;
    border: none;
    background: #FDD21B;
    box-shadow: 1px 1px 38px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    font-size: 18px;
}
.howDoWeWork span {
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    color: var(--main-purple);
}
.howDoWeWork li {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: var(--main-purple);
    list-style-type: none;
}
.howDoWeWork p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #11243E;
}
.howDoWeWork .wrapper {
    flex-direction: column;
    align-items: flex-start;
}
.howDoWeWork .howDoWeWorkTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.howDoWeWork .columns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.howDoWeWork .leftColumn {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    margin-top: 64px;
}
.calculator .wrapper {
    flex-direction: column;
    align-items: flex-start;
}
.calculator .left-right-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 50px;
}
.calculator .leftColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("../img/calculatorBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 56px;
    border-radius: 20px;
}
.calculator .rightColumn span, .calculator .leftColumn span {
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
}
.calculator .nalog, .calculator .employees, .calculator .documents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.calculator .values {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.calculator .value {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calculator .inputText {
    width: 32px;
    text-align: center;
}
.calculator .inputText:disabled {
    background-color: #fff;
}
.calculator .bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: flex-start;
    gap: 20px;
}
.calculator .bottomItem {
    background-color: #fff;
    width: fit-content;
    padding: 7px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.calculator .cross {
    background-color: var(--main-purple);
    padding: 6px;
    width: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 2px 5px 21px rgba(80, 90, 204, 0.46);
}
.calculator .bottomItemText {
    font-weight: 400 !important;
    font-size: 18px !important;
    color: #11243E !important;
}
.calculator .rightColumn {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/calculatorBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 32px 56px;
}
.calculator .control-group {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}
.calculator .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94px;
}
.calculator .control_indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator .cost {
    margin-top: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}
.calculator .price {
    font-weight: 600 !important;
    font-size: 42px !important;
}
.calculator .currency {
    font-weight: 400 !important;
    font-size: 18px !important;
}
.calculator .requestButton {
    margin-top: 70px;
    width: 216px;
    height: 61px;
    border: none;
    background: #FDD21B;
    box-shadow: 1px 1px 38px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    font-size: 18px;
}
.rates {
    margin-top: 64px;
}
.rates .ratesTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rates .ratesButtons {
    width: 40%;
    display: flex;
    gap: 25px;
}
.rates .rateButton {
    padding: 10px 12px;
    width: fit-content;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid var(--main-purple);
}
.rates .active , .rates .rateButton:hover {
    background-color: var(--main-purple);
    color: #fff;
}
.rates .wrapper {
    flex-direction: column;
    align-items: flex-start;
}
.rates .ratesPrices {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.rates .ratePrice {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #515CCD;
}
.rates .ratePrice span {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #000000;
}
.rates .ratePrice .ratePriceName {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}
.rates .ratePrice .ratePriceName:first-child {
    text-align: left;
}
.rates .ratePrice .ratePriceName:last-child {
    text-align: right;
}
.unactiveRate {
    display: none !important;
}
.slider-wrapper{
    width: 100%;
    margin: 50px auto;
}
.requestConsultation {
    margin-top: 64px;
}
.requestConsultation .wrapper {
    background: rgb(80,90,204);
    background: linear-gradient(125deg, rgba(80,90,204,1) 74%, rgba(199,203,246,1) 125%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 33px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
}
.requestConsultation .wrapper img:nth-child() {
    margin-bottom: 25px;
}
.requestConsultation .getConsultationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 61px;
    background: #FFFFFF;
    border: none;
    box-shadow: 1px 1px 38px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #11243E;
}
.requestConsultation .nameInput, .requestConsultation .phoneInput {
    width: 260px;
    height: 56px;
    background-color: var(--main-purple);
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 20px;
}
.phoneInput::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.workWithUs {
    margin-top: 64px;
    background-color: #FBFBFB;
    padding: 64px 0;
}
.workWithUs .wrapper {
    justify-content: space-between;
}
.workWithUs h3 {
    text-align: center;
    height: 100px;
}
.workWithUs .leftColumn, .workWithUs .rightColumn {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workWithUs .benefitsList, .workWithUs .negativitiesList {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.workWithUs .button-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81px;
}
.workWithUs .benefitItem {
    width: 90%;
    height: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    gap: 15px;
}
.workWithUs span {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #11243E;
    text-align: center;
}
.workWithUs p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #11243E;
    text-align: center;
}
.workWithUs .benefitItem:hover {
    border: 2px dashed #43EB8F;
}
.workWithUs .negativeItem {
    border: 2px dashed #505ACC;
    border-radius: 20px;
    padding: 40px 40px;
    width: 90%;
    height: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profit {
    margin-top: 64px;
}
.profit .wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.profit h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 61px;
    color: #11243E;
}
.profit p {
    font-weight: 400;
    font-size: 20px;
    line-height: 148%;
    color: #000000;
}
.profit span {
    font-weight: 500;
    font-size: 22px;
    line-height: 148%;
    color: #000000;
}
.profit .profitsList {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profit .profitsList:nth-child(even) {
    flex-direction: row-reverse;
}
.profit .profitImage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profit ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.profit li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    list-style-type: none;
}
.feedback {
    margin-top: 64px;
}
.feedback .wrapper {
    flex-direction: column;
    align-items: flex-start;
}
.feedback h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 61px;
    color: #11243E;
}
.feedback .left-right-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
}
.feedback .left-column {
    background-color: #f8f8f8;
    padding: 20px 60px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
} 
.feedback .rating {
    font-weight: 600;
    font-size: 36px;
    line-height: 151.1%;
    color: #000000;
}
.feedback .stars {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.feedback .stars img {
    width: 20px
}
.feedback .maps {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
.feedback .maps span {
    font-weight: 700;
    font-size: 26px;
    line-height: 151.1%;
    color: #000000;
}
.feedback .marksCountSpan {
    font-weight: 400;
    font-size: 16px;
    line-height: 151.1%;
    color: #9B9797;
    text-align: center;
}
.feedback .leaveFeedback {
    width: 209px;
    height: 61px;
    background: #FFFFFF;
    border: none;
    box-shadow: 1px 1px 38px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
}
.feedback .right-column {
    width: 60%;
}
.clients {
    margin-top: 64px;
}
.clients .wrapper {
    flex-direction: column;
    align-items: flex-start;
}
.clients .clientsList {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.clients .clientsList img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 124px;
}
.directors {
    margin-top: 64px;
    background-color: #FBFBFB;
    padding: 64px 0;
}
.directors .wrapper {
    flex-direction: column;
    align-items: flex-start;
}
.directors .directorSwitcher {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 10px;
    margin-top: 40px;
    background-color: #fff;
}
.directors .directorItem {
    list-style-type: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 22px;
}
.activeItem, .directors .directorItem:hover {
    background: #505ACC;
    box-shadow: 2px 5px 21px rgba(80, 90, 204, 0.46);
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF !important;
    text-align: center;
}
.directors .left-right-column {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.directors .left-column {
    width: 50%;
}
.directors .right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.directors .upper {
    width: 100%;
    background-image: url("../img/backgroundWave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #11243E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
}
.directors .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.directors .bottom ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    padding-left: 20px;
}
.directors .bottom span {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
}
.directors .bottom li {
    list-style-type: disc;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}
.directors .directorsName {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #505ACC;
    display: none;
}
.directors .directorSwitcherAdaptive {
    margin-top: 10px;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.activeDirectorName {
    display: block !important;
}
.directorArrowLeft {
    transform: rotate(180deg);
}
.directorSwitcherControll {
    display: flex;
    gap: 20px;
}
.hideContent {
    display: none !important;
}
.requestConsultation {
    margin-top: 64px;
}
.requestConsultation .wrapper {
    justify-content: center;
    align-items: center;
    padding: 45px 80px;
}
.requestConsultation .left-right-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.requestConsultation .title {
    font-weight: 500;
    font-size: 45px;
    line-height: 61px;
    color: #FFFFFF;
}
.requestConsultation .lower-title {
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;
}
.requestConsultation .left-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
.requestConsultation .left-column img {
    margin-bottom: 25px;
}
.requestConsultation .questionInputName, .requestConsultation .questionInputPhone {
    width: 259px;
    height: 56px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: var(--main-purple);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.7);
    padding: 16px 17px;
}
.requestConsultation .questionButton {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.requestConsultation .requestQuestionButton {
    width: 285px;
    height: 61px;
    background: #FFFFFF;
    border: none;
    box-shadow: 1px 1px 38px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #11243E;
}
.requestConsultation .inputQuestion {
    width: 100%;
    display: flex;
    gap: 30px;
}
.connectWithUs {
    margin-top: 54px;
}
.connectWithUs .wrapper {
    flex-direction: column;
    align-items: flex-start;
}
.connectWithUs .connectWithUsItems {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.connectWithUs .connectWithUsItem {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 400px;
}
.connectWithUs .connectWithUsItem span {
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #11243E;
    text-align: center;
}
footer {
    margin-top: 128px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    padding: 55px 0 0 0;
}
footer .wrapper {
    flex-direction: column;
    align-items: center;
}
footer .footer-upper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
footer .footer-logo {
    width: 25%;
    display: flex;
}
footer .footer-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
footer li {
    list-style-type: none;
}
footer li a {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #11243E;
    text-decoration: none;
}
footer .consultation-contacts {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 25px;
}
footer .footer-button {
    width: 281px;
    height: 61px;
    border: 1px solid #FDD21B;
    border-radius: 5px;
    background-color: #fff;
}
footer .footer-phone {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #11243E;
}
footer .footer-bottom {
    border-top: 1px solid rgba(156, 164, 172, 0.32);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 200px;
    height: 150px;
}
footer .socials {
    display: flex;
    align-items: center;
    gap: 25px;
}
footer .politics {
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;
    color: #9CA4AC;
}
footer .developerLogo a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #000;
    text-decoration: none;
}
footer .developerLogo a span {
    color: #000;
    text-decoration: none;
}
.button-show-howToStartWorlWithUsItems, .button-show-profitLists-info{
    display: none;
    background-color: #FDD21B;
    width: 178px;
    height: 58px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.profit .profitsList:nth-child(even) {
    flex-direction: row;
}
.howDoWeWork li{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.show-howDoWeWorkItem{
    transition: .2s ease-in-out;
    display: none;
}
.custom-checkbox{
    display: none;
    z-index: -1;
}
.outerFeedback {
    width:100%;
    height:800px;
    position:relative;
}
#iframeFeedback {
    width:100%;
    height:100%;
    border:1px solid #e6e6e6;
    border-radius:8px;
    box-sizing:border-box
}
.outerFeedbackLink {
    box-sizing:border-box;
    text-decoration:none;
    color:#b3b3b3;
    font-size:10px;
    font-family:YS Text,sans-serif;
    padding:0 20px;
    position:absolute;
    bottom:8px;
    width:100%;
    text-align:center;
    left:0;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
    max-height:14px;
    white-space:nowrap;
    padding:0 16px;
    box-sizing:border-box
}
#map {
    width: 100%;
    height: 100%;
}
.feedBackContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ymaps-2-1-79-map {
    width: 100% !important;
    height: 100% !important;
}
.custom-checkbox+.label-for-custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 39px;
    height: 37px;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: #505ACC;
    background-position: center center;
    background-repeat: no-repeat;
}
.label-for-custom-checkbox{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:15px;
    font-size: 18px;
}
.custom-checkbox:checked+.label-for-custom-checkbox::before{
    transition-property: color;
    transition-duration: 4s;
    transition-delay: 2s;
    background-image: url('../img/crossCheckbox.svg');
}