:root {
    --main-purple: #505ACC;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    color: #000000;
    line-height: 140%;
}
html, body, section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.wrapper {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricesName {
    font-weight: 500;
    font-size: 35px;
}
.pricesPrice {
    font-weight: 400;
    font-size: 30px;
}
.pricesTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
    border-bottom: 1px solid var(--main-purple);
}
.pricesItemName, .pricesItemPrice, .pricesItemType {
    font-weight: 400;
    font-size: 24px;
    padding: 10px 10px;
    border-bottom: 1px solid var(--main-purple);
}
.employee {
    font-weight: 400;
    font-size: 24px;
    padding: 10px 10px;
    width: 55%;
    text-align: center;
}
.underlined {
    border-bottom: 1px solid var(--main-purple);
} 
.pricesItemPrice {
    width: 13%;
    text-align: center;
}
.pricesItemName {
    width: 72%;
}
.pricesItemType {
    width: 40%;
}
.pricesItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricesItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.pricesItemContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.pricesItemContainerOrg {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.staredMessage {
    display: none;
    font-weight: 400;
    font-size: 16px;
}
.stars {
    color: #FF4F9C;
}