@media (max-width: 1250px) {
    header, section, footer {
        padding: 0 30px !important;
    }
}
@media (max-width: 1000px) {
    .desktopView {
        display: none;
    }
    .mobileView {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobileView .servicesPriceItem {
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid var(--main-purple);
    }
    .mobileView .servicesPriceItemText {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .mobileView .servicesItemName, .mobileView .serviceFastPrice, .mobileView .servicesPriceSpecial {
        width: 80%;
        text-align: left;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .mobileView .serviceItemPrice, .mobileView .serviceItemFastPrise, .mobileView .serviceItemSpecialPrice {
        border-bottom: none;
    }
}
@media (max-width: 550px) {
    .mobileView .servicesItemName, .mobileView .serviceFastPrice, .mobileView .servicesPriceSpecial {
        font-size: 16px;
        width: 70%;
        height: unset;
        padding: 0;
    }
    .mobileView .serviceItemPrice, .mobileView .serviceItemFastPrise, .mobileView .serviceItemSpecialPrice {
        font-size: 16px;
        width: 22%;
        height: unset;
        padding: 0;
    }
    .mobileView .serviceTopName, .mobileView .servicePrice {
        font-size: 20px;
    }
}